          <li><a class="select-company" data-company-name="Amazon" data-company-id="48dab450-b3dd-409f-aeab-56f26c93287f" href="html/report-template.html">Amazon</a>            
          </li>
          <li><a class="select-company" data-company-name="Walmart" data-company-id="daa85aa9-e41d-48fa-bbbd-0d7b6e6bcdea" href="html/report-template.html">Walmart</a>            
          </li>
          <li><a class="select-company" data-company-name="Google" data-company-id="89cfeb85-f7ac-4362-9946-0d1256510d9f" href="html/report-template.html">Google</a>            
          </li>
          <li><a class="select-company" data-company-name="Microsoft" data-company-id="11a57eaa-3fc8-4626-aad5-1d4086e94976" href="html/report-template.html">Microsoft</a>            
          </li>
          <li><a class="select-company" data-company-name="Ford Motor Company" data-company-id="ec326598-4ee4-4aba-a2de-2c27d1934263" href="html/report-template.html">Ford Motor Company</a>            
          </li>
          <li><a class="select-company" data-company-name="Tesla" data-company-id="0b33acbb-e337-4833-b716-81d33fc57258" href="html/report-template.html">Tesla</a>            
          </li>
          <li><a class="select-company" data-company-name="Uber" data-company-id="9ec6b006-ddff-402a-92a1-560294aac5e1" href="html/report-template.html">Uber</a>            
          </li>
          <li><a class="select-company" data-company-name="Johnson & Johnson" data-company-id="c542fd44-26a2-44e5-b82f-bcf7fc2f2d74" href="html/report-template.html">Johnson & Johnson</a>            
          </li>
          <li><a class="select-company" data-company-name="Pfizer Inc." data-company-id="2924ebcd-27ef-4270-93e7-b9ba0f2120cc" href="html/report-template.html">Pfizer Inc.</a>            
          </li>
          <li><a class="select-company" data-company-name="Allianz" data-company-id="d945abdf-ae72-4c2c-b832-8fa7aa7785d1" href="html/report-template.html">Allianz</a>            
          </li>
          <li><a class="select-company" data-company-name="Qualtrics" data-company-id="28e7874f-f849-4716-8334-c529ba01870f" href="html/report-template.html">Qualtrics</a>            
          </li>
          <li><a class="select-company" data-company-name="Medallia" data-company-id="584c19f0-397c-4413-93fa-032f21f1a2e0" href="html/report-template.html">Medallia</a>            
          </li>
