
  <div class="container">
    <div class="icon-bubble"><i class="ty-icon ty-icon-building"></i></div>
    <div class="board-title">
      <h2>{{ companyName }}</h2>
      <h3>{{ companyId }}</h3>
    </div>
  </div>
